.heading{
width: 80%;
font-size: 22px;
}

body{
    background-color: aqua;
    color:gray;
}

.name_of_object,#object_name,#object_accuracy{
    color:yellow;
}

#webcam{
    border: 2px dashed crimson;
    width: 350px;
    height: 300px;
}

